<button class="button-submit">
  <div class="_body">保存</div>
</button>

<button class="button-favorite">
  <div class="_leading">
    <span class="in-icon" data-icon="heart"></span>
  </div>
  <div class="_body">お気に入り</div>
</button>

<button class="button-nav-next">
  <div class="_body">すべての記事</div>
  <div class="_trailing">
    <span class="in-icon" data-icon="chevron_right"></span>
  </div>
</button>
